/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}


/* Intro */

.intro {
   padding: 150px 0 150px 0;
}

/* Services */

.services {
  /*background: #90278E;*/
  
  background: #8100E6;
  padding: 150px 0 150px 0;
  color: #ffffff;
}

.services a {
  color: #ffffff;
}

.service-item-title {
  margin-bottom: 15px;
  height: 70px;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 36px;
  width: 100px;
  height: 100px;
  line-height: 96px;
  vertical-align: middle; 
  text-align: center;
}

i.service-icon:hover{
    border: 6px solid #ffffff;
   
}

/* CONSULTANTS */

/* CONTACT */

.contact {
    color: #848688;
    display: table;
    vertical-align: middle;
    padding-top:170px;
    padding-bottom:100px;
    width: 100%;
    background: url(../img/contato-background.jpg) no-repeat center center fixed; 
   
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* FOOTER */

footer {
  padding: 50px 0;
 
}

.top-scroll {
  margin-top: 50px;
  margin-left:auto;
  margin-right:auto;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}




/* Responsive */

@media (max-width: 768px) {
  .back_menu{
        background-color:black ;
        font-family:Booksman;

        -moz-border-radius:4px; 
        -webkit-border-radius:4px; 
        border-radius:4px;
}

    
  .sobre {
	background: url(../img/banner.jpg) no-repeat center center scroll;
       
  }

  .contact {
	/*background: url(../img/contato-background.jpg) no-repeat center center scroll;*/ 
  }

  .map {
	/*height: 50%;*/
        width:75%;
  }

  #seta_up{
      -webkit-transform: scale(0.7,0.7);
      -moz-transform: scale(0.7,0.7);
      -o-transform: scale(0.7,0.7);
      transform: scale(0.7,0.7);
      
  }
}
